constraints: HUnit == 1.2.5.2
           , MonadCatchIO-transformers == 0.3.1.0
           , MonadRandom == 0.1.13
           , aeson == 0.6.2.1
           , array == 0.4.0.1
           , attoparsec == 0.10.4.0
           , attoparsec-enumerator == 0.3.2
           , base == 4.6.0.1
           , base64-bytestring == 1.0.0.1
           , bifunctors == 3.2.0.1
           , blaze-builder == 0.3.3.2
           , blaze-builder-enumerator == 0.2.0.5
           , blaze-html == 0.6.1.3
           , blaze-markup == 0.5.2.1
           , byteable == 0.1.1
           , bytestring == 0.10.0.2
           , bytestring-mmap == 0.2.2
           , case-insensitive == 1.0.0.1
           , cereal == 0.3.5.2
           , cipher-aes == 0.2.6
           , clientsession == 0.9.0.3
           , comonad == 3.1
           , comonad-transformers == 3.1
           , comonads-fd == 3.0.3
           , configurator == 0.2.0.2
           , containers == 0.5.0.0
           , contravariant == 0.4.4
           , cprng-aes == 0.5.2
           , crypto-api == 0.13
           , crypto-cipher-types == 0.0.9
           , crypto-random == 0.0.7
           , cryptohash == 0.11.2
           , deepseq == 1.3.0.1
           , directory == 1.2.0.1
           , directory-tree == 0.11.0
           , distributive == 0.4
           , dlist == 0.5
           , either == 3.4.2
           , entropy == 0.2.2.4
           , enumerator == 0.4.20
           , errors == 1.4.5
           , extensible-exceptions == 0.1.1.4
           , filepath == 1.3.0.1
           , generic-deriving == 1.6.2
           , ghc-prim == 0.3.0.0
           , groupoids == 3.0.1.1
           , hashable == 1.1.2.5
           , heist == 0.12.0
           , integer-gmp == 0.5.0.0
           , lens == 3.9.2
           , logict == 0.6.0.2
           , monads-tf == 0.1.0.1
           , mtl == 2.1.2
           , mwc-random == 0.12.0.1
           , nats == 0.1.2
           , network == 2.4.1.2
           , old-locale == 1.0.0.5
           , parallel == 3.2.0.3
           , parsec == 3.1.3
           , pretty == 1.1.1.0
           , primitive == 0.5.0.1
           , process == 1.1.0.2
           , profunctor-extras == 3.3.3.1
           , profunctors == 3.3.0.1
           , pwstore-fast == 2.3
           , random == 1.0.1.1
           , reflection == 1.4
           , regex-base == 0.93.2
           , regex-posix == 0.95.2
           , rts == 1.0
           , safe == 0.3.4
           , securemem == 0.1.3
           , semigroupoid-extras == 3.0.1
           , semigroupoids == 3.1
           , semigroups == 0.12.2
           , skein == 1.0.8.1
           , snap == 0.12.1
           , snap-core == 0.9.6.0
           , snap-loader-static == 0.9.0.1
           , snap-server == 0.9.4.0
           , split == 0.2.2
           , stm == 2.4.2
           , syb == 0.4.0
           , tagged == 0.7
           , template-haskell == 2.8.0.0
           , text == 0.11.3.1
           , time == 1.4.0.1
           , transformers == 0.3.0.0
           , transformers-compat == 0.1.1.1
           , unix == 2.6.0.1
           , unix-compat == 0.4.1.1
           , unordered-containers == 0.2.3.0
           , vector == 0.10.0.1
           , vector-algorithms == 0.5.4.2
           , void == 0.6.1
           , xmlhtml == 0.2.3.2
           , zlib == 0.5.4.1
           , zlib-bindings == 0.1.1.3
           , zlib-enum == 0.2.3
