body {
   background-color: white;
}

.reminders-container {
    margin-top: 15px;
 }

.reminder.aui-label.error {
   border-color: red;
}

.status-container {
   margin-left: 10px;
}

.status-container .hidden,
#reminder-help.hidden {
   display: none;
}

.aui-button:focus {
   outline: 0;
}
