body {
   background-color: white;
}

#add-reminder {
    margin-top: 15px;
 }

.reminder-actions button {
   margin-top: 15px;
}

.status-container {
   margin-left: 10px;
}

.status-container .hidden {
   display: none;
}
